.footer {
  margin-top: 204px;
}

.footer .land-acknowledgement {
  grid-column: 1 / 4;
}

.former-name {
  grid-column: 5 / 8;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
