.video {
  cursor: pointer;
  position: relative;
  height: 33vw;
  margin-bottom: 11px;
}

.video img {
  object-fit: cover;
  height: 33vw;
}

.play {
  position: absolute;
  left: calc(50% - 37px);
  top: calc(50% - 25px);
  background-color: rgba(255, 0, 0, 0.5);
  width: 74px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.play::after {
  content: "";
  display: block;
  margin-left: 5px;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 17px solid #fff;
  transition: all 0.2s ease-in-out;
}

.play:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in-out;
}

.play:hover::after {
  border-left: 17px solid rgba(255, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
