* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 22px;
  color: #000;
  background: #ffffff;
  font-weight: 200;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
  transition: text-underline-offset 0.4s ease-in;
}

a:hover,
a:focus {
  text-underline-offset: -0.27em;
  text-decoration-skip-ink: none;
  transition: all 0.4s ease-out;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-gap: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1;
}

h1 {
  font-size: 34px;
  margin-bottom: 30px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

h3 {
  font-size: 22px;
  margin-bottom: 16px;
}

p {
  margin-bottom: 1.2em;
}

b,
strong {
  font-weight: 500;
}

s {
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
}

u {
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
}

.page-text {
  display: flex;
  justify-content: flex-end;
}

.page-text .text-col-1 {
  width: calc(30% - 15px);
  margin-left: 11px;
  margin-right: 11px;
}

.page-text .text-col-2 {
  width: calc(30% - 15px);
  margin-left: 11px;
}

.sort-view {
  margin: 120px 0;
}

.form-filter {
  margin-bottom: 27px;
}

.form-filter,
.view-filter {
  display: flex;
  width: fit-content;
  min-height: 27px;
  background-color: #ededed;
  border-radius: 14.5px;
  padding: 1px;
}

.form-filter .radio-button,
.view-filter .radio-button {
  position: relative;
  margin: 0px;
  height: 27px;
}

.radio-button input[type="radio"] {
  appearance: none;
  position: absolute;
  left: 0;
  background-color: transparent;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 27px;
  border-radius: 13.5px;
  transition: background-color 0.2s ease-out;
}

.radio-button input[type="radio"]:checked {
  background-color: #fff;
  transition: background-color 0.2s ease-out;
}

.radio-button input[type="radio"]:checked:hover {
  background-color: rgba(255, 255, 255, 1);
}

.radio-button input[type="radio"]:hover {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
}

.radio-button label {
  position: relative;
  top: 2px;
  opacity: 0.5;
  text-align: center;
  padding: 2px 13px;
  vertical-align: middle;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.radio-button input[type="radio"]:checked + label {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .page-text {
    flex-direction: column;
    justify-content: flex-start;
  }
  .page-text .text-col-1,
  .page-text .text-col-2 {
    width: 100%;
    margin: 0;
  }

  .form-filter,
  .view-filter {
    flex-wrap: wrap;
    background-color: #fff;
  }
  .form-filter .radio-button,
  .form-filter .radio-button {
    margin-bottom: 5px;
  }
  .radio-button input[type="radio"]:checked {
    background-color: #ededed !important;
  }
}
