.header {
  margin-top: 120px;
}

.header h1 {
  max-width: 40%;
}

.header time {
  display: block;
  margin-bottom: 30px;
}

.header .category {
  background-color: rgba(237, 237, 237, 1);
  border-radius: 13.5px;
  padding: 3px 15px;
  text-decoration: none;
  transition: background-color 0.2s ease-out;
}

.header .category:hover {
  background-color: rgba(237, 237, 237, 0.7);
  transition: background-color 0.2s ease-out;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-grow: 1;
  max-width: 50%;
}

.content > .row:first-child > .column:first-child {
  max-width: 30%;
}

.content > .row:first-child > .column:first-child > p:first-child {
  margin-top: 48px;
}

.content > .row:first-child > .column:nth-child(2) {
  max-width: 60%;
}

.content .image {
  position: relative;
  height: 745px;
  margin-top: 11px;
  margin-bottom: 11px;
}

.image img {
  object-fit: cover;
}

.column .image img {
  margin-right: 22px;
}

.column .image:last-child img {
  margin-right: 0px;
}

.image-column {
  margin-right: 22px;
}

.row .image-column:last-child {
  margin-right: 0px;
}

.content iframe {
  height: 100%;
}

@media (max-width: 768px) {
  .header {
    margin-top: 89px;
  }
  .header h1 {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .header time {
    margin-bottom: 20px;
  }
  .content .video,
  .content .video img {
    height: 255px;
  }
  .content .row {
    display: block;
  }
  .content .row .column {
    max-width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .content .row .column .image {
    height: 480px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .content > .image {
    height: 255px;
  }
}
